@model IEnumerable<Workspace>

@{
    ViewData["Title"] = "Коворкинги";
}
<main class="main">
  <section class="hero">
    <article class="banner">
      Выбирайте, сравнивайте и бронируйте пространства для учёбы, встреч и мероприятий онлайн.
      <button class="btn-reset btn banner__btn">
        <a href="#coworks">Перейти к просмотру коворкингов</a>
      </button>
    </article>
  </section>
    
  <section class="coworks" id="coworks">
     <h2 id="coworks" class="section__title">
            Коворкинги
          </h2>
    @foreach (var workspace in Model)
    {
      <article class="cowork">
        <div class="cowork-photo__container">
          <img height="400px" width="400px" class="cowork__photo" src="@workspace.Images.First().Url" alt="Фото коворкинга">
          <span class="cowork__rating">@workspace.Rating</span>
        </div>
        <div class="cowork__about">
          <div class="cowork__title">
            <div class="cowork__placement">
              <h3 class="cowork__institute">
                @workspace.Institute
              </h3>
              <span class="cowork__name">
                @workspace.Name
              </span>
            </div>
            <span class="cowork__address">
              @workspace.Address
            </span>
          </div>

          <div class="cowork__description">
            @workspace.Description
          </div>
          <a style="max-height: 100px; max-width: 200px" class="btn-reset btn cowork__btn" href="/workspaces/@workspace.Id">
            Забронировать
          </a>
        </div>
      </article>
    }
  </section>

  <div class="cookie__container">
    <article class="cookie__message">
      <span class="cookie__text">
        Мы используем куки, как и любой сайт в интернете
      </span>
      <button class="btn-reset btn__cookie">
        ОК
      </button>
    </article>
  </div>

  <div class="chat">
    <img src="./img/chat.png" alt="Чат">
  </div>


</main>