@using UrFU_WorkSpace.Helpers
@using Microsoft.AspNetCore.Http;
@using UrFU_WorkSpace.enums
@{
  Layout = "~/Views/_Layout.cshtml";
  var idUser = User.Claims.SingleOrDefault(u => u.Type == "Id")?.Value;
  var login = User.Claims.SingleOrDefault(u => u.Type == "Login")?.Value;
  var action = ViewContext.RouteData.Values["action"];
  var navItems = new Dictionary<string, Tuple<string, string>>()
  {
    { "Profile", new Tuple<string, string>("/users/" + idUser, "Профиль") },
    { "UserReservations", new Tuple<string, string>("/users/" + idUser + "/reservations", "Мои бронирования") },
  };
  if (User.IsInRole(nameof(Role.Admin)))
  {
    navItems.Add( "UserWorkspaces", new Tuple<string, string>("/users/" + idUser + "/workspaces", "Мои коворкинги"));
  }
}
<html lang="en">
<main class="main">
  <div class="cabinet__hero">
    <div class="user__wrapper">
      <span class="user__avatar">
        @login[0]
      </span>
      <span class="user__name">
        <a href="/users/@idUser">@login</a>
      </span>
      <span class="user__leave">
        <a class="log-out" style="cursor: pointer">Выход</a>
      </span>
    </div>

    <h2 class="section__title cabinet__title">
      Личный кабинет
    </h2>
  </div>

  <nav class="nav cabinet__nav">
    <ul class="list-reset nav__list">
      @foreach (var navItem in navItems)
      {
        var cl = navItem.Key == (string)action! ? "nav-active" : "";
        <li>
          <a class="@cl" href="@navItem.Value.Item1">@navItem.Value.Item2</a>
        </li>
      }
    </ul>
  </nav>
  @RenderBody();
</main>
<script src="~/js/user-service.js" type="module"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
