@using System.Net.Mime
@using UrFU_WorkSpace.Helpers
@model UrFU_WorkSpace.Models.Workspace

@{
  ViewBag.Title = Model.Name;
 
}

<main class="book">
      <section class="book__hero">
        <h2 class="section__title">
          @Model.Institute
          <span class="blue">
            @Model.Name
          </span>
        </h2>
        <span class="cowork__address">
          @Model.Address
        </span>

        <div class="gallery">
          @{
            var count = 1;
            foreach (var image in Model.Images)
            {
              <figure class="gallery__item gallery__item--@count">
                <img src="@image.Url" class="gallery__img" alt="@image.Id">
              </figure>
              count++;
            }
          }
        </div>
      </section>

      <section class="book__about">
        <h2 class="section__title">
          О пространстве
        </h2>
        <div class="about__text">
          @Model.Description
        </div>
      </section>

      <section class="book__comfort">
        <h2 class="section__title"> 
          Удобства для Вас
        </h2>
        <div class="comfort__container">
          <ul class="list-reset comfort__list">
            @foreach (var amenity in Model.Amenities)
            {
              <li class="comfort__elem">
                <img src="@amenity.Template?.Picture " alt="Wi-Fi" class="comfort__img">
                <span class="comfort__text">
                  @amenity.Template?.Name
                </span>
              </li>
            }
          </ul>
        </div>
      </section>

      <section class="book__location">
        <div class="location__container">
          <h2 class="section__title">
            Схема Помещения
          </h2>
          <div class="location__wrapper">
            <div id="showDiagram" style="width:550px; height:350px; border-radius: 10px; background: lightgray; border:2px solid black;margin-bottom:2rem "></div>
             <button class="btn btn-reset" id ="book-btn">
              Забронировать место 
              </button>
          </div>
          
        </div>

        <div class="location__container">
          <h2 class="section__title location__title">
            Контакты коворкинга
          </h2>

          <div class="location__wrapper--2">
            <div class="location__text">
              <div>
                <span class="location--beauty">Адрес:</span> г. Екатеринбург, Кировский район Втузгородок м-н,  ул. Мира, 32, левое крыло, 1 этаж.
              </div>
              <div class="location__text--wrap">
                <span class="location--beauty">Соцсети:</span>
                 <a href="#" class="location__link">
                  <img src="~/img/vk.png" alt="Вк" class="location__link--img">
                </a>
              </div>
            </div>
            <h2 class="section__title">
              Режим работы
            </h2>
            <ul class="list-reset location__list">
              @{
                var dict = new Dictionary<int, string>()
                {
                  {1,"Пн"},
                  {2,"Вт"},
                  {3,"Ср"},
                  {4,"Чт"},
                  {5,"Пт"},
                  {6,"Сб"},
                  {7,"Вс"},
                };
                var t = Model.OperationMode.ToArray();
                Array.Sort(t, (x, y) => x.WeekDayNumber.CompareTo(y.WeekDayNumber));
                foreach (var weekday in t)

                {
                  <li class="location__elem">
                    <span class="location__day">@dict[weekday.WeekDayNumber]</span>
                    <span class="location__time">@weekday.TimeStart - @weekday.TimeEnd</span>
                  </li>
                }
              }
            </ul>
          </div>
        </div>
      </section>

      <section class="reviews">
        <div class="reviews__head">
          <h2 class="section__title review__title">
            Отзывы о пространстве
          </h2>
          <button class="btn-reset btn review__btn" id="reviewButton"> 
            Написать отзыв
          </button>
        </div>
        <div class="review__wrapper" style="margin-bottom: 2rem" id="reviewForm" hidden>
          <form method="post" action="/workspaces/@Model.Id/add-review">
          <div class="review__head">
            <span class="review__author" id="formName"></span>
            <span class="review__date" id="formDate">
            </span>
            <ul class="list-reset review__stars" id="formStars">
              <li class="review__elem"><img id="star-0" src="~/img/star.png" alt="Звезда"></li>
              <li class="review__elem"><img id="star-1" src="~/img/star.png" alt="Звезда"></li>
              <li class="review__elem"><img id="star-2" src="~/img/star.png" alt="Звезда"></li>
              <li class="review__elem"><img id="star-3" src="~/img/star.png" alt="Звезда"></li>
              <li class="review__elem"><img id="star-4" src="~/img/star.png" alt="Звезда"></li>
            </ul>
            <input hidden="true" id="starsCount" name="starsCount">
          </div>
          <label style="color:black ">Введите текст сообщения</label>
          <input name="text" class="form-control-lg review__text" style="border: none; outline: transparent; background: transparent; width: 100%;">
          <button class="btn btn-success" type="submit">Save</button>
          </form>
        </div>
          @foreach (var review in Model.Reviews)
          {
            <div class="review__wrapper" style="margin-bottom: 2rem">
            <div class="review__head">
              <span class="review__author">
                MegaGrib
              </span>
              <span class="review__date">
                01.06.24
              </span>
              <ul class="list-reset review__stars">
              @for (var i = 0; i < review.Estimation; i++ )
              {
                  <li class="review__elem"><img src="~/img/blue-star.png" alt="Звезда"></li>
              }
              </ul>
            </div>
            <span class="review__text">
              @review.Message
            </span>
                    </div>
          }
      </section>
      <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="border-radius: 10px;">
          <div class="modal-content">
            <div style="margin:1.5rem auto 1.5rem;">
              <h4 style="position: relative ;color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px; text-align: center" id="bookModalLabel">Дата и длительность посещения</h4>
            </div>
                <div class="modal-body modal-first-page" style="margin: auto">
              <div class="modal__params" style="display: flex; flex-direction: row; align-items: center;">
               
                <input class="form-control-sm" type="date" id="date" name="date" value="2024-05-18"/>
                <select class="form-select form-select-sm" name="timeType" id="timeType">
                  <option value="lel" selected="">1 час</option>
                  <option value="lol">2 часа</option>
                  <option value="lil">45 минут</option>
                </select>
                <select class="form-select form-select-sm" name="objectType" id="objectType" value="lel">
                  <option value="lel" selected="">lel</option>
                  <option value="lol">lol</option>
                  <option value="lil">lil</option>
                </select>
                <input id="idWorkspace" name="idWorkspace" value="@Model.Id" hidden/>
              </div>
              <div class="modal__time">
                <ul class="list-reset time__list">
                </ul>
              </div>
              <span class="selected-time">
                Выбрано:
                <span style="color: black; font-size: small" id="selected-date__value"></span>
                <span style="color: black; font-size: small" class="selected-time__value" id="selected-time__value"></span>
              </span>
              <div class="modal__navigator">
                <button class="btn-reset btn btn__next" id="btn-next">
                  Продолжить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="selectWorkplaceModal" tabindex="-1" aria-labelledby="selectWorkplaceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered book__width" style="border-radius: 10px;">
        <div class="modal-content">
          <div style="margin:2rem auto 2rem;">
            <h4 style="position: relative ; color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px; text-align: center" id="selectWorkplaceModalLabel">Бронирование места</h4>
          </div>
          <div class="modal-body modal-second-page" style="margin: auto">
            <div id="myDiagramDiv" style="width:100%; height:400px; border-radius: 10px; background: lightgray; border:2px solid black;margin-bottom:2rem "></div>
            <input value="" hidden="" id="selected-object"/>
            <div class="modal__navigator">
              <button id = "btn-back" class="btn-reset btn btn__back">
                Вернуться
              </button>
              <button class="btn-reset btn btn__next" id="reservation-button" >
                Продолжить
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="modal fade" id="bookResultModal" tabindex="-1" aria-labelledby="bookResultModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="border-radius: 10px;">
        <div class="modal-content">
          <div class="modal-body">
            <div id="book-result" style="color: black"></div>
          </div>
        </div>
      </div>
      </div>
    </main>
<script>
window.addEventListener('DOMContentLoaded',() => init("myDiagramDiv"));
window.addEventListener('DOMContentLoaded',() =>{ 
  init("showDiagram");
  loadObjects("showDiagram", @Json.Serialize(Model.Objects));
});

const loadObjects = (divName, objects) => {
       const diagram = go.Diagram.fromDiv(document.getElementById(divName))
          let modelNodes = [];
          objects.forEach(obj => {
            console.log(obj.x);
                  modelNodes.push({ "key": obj['Id'], "pos": `${obj.x} ${obj.y}`,"isReserve" : obj['IsReserve'],  "size": `${obj.height} ${obj.width}`,category: "work", image : obj.template.picture, color : ''})
              })
          diagram.model = new go.GraphLinksModel(modelNodes);
}
</script>      
      
