@using System.Net.Mime
@using UrFU_WorkSpace.Helpers
@model UrFU_WorkSpace.Models.Workspace

@{
  ViewBag.Title = Model.Name;
 
}

<main class="book">
      <section class="book__hero">
        <h2 class="section__title">
          @Model.Institute
          <span class="red">
            @Model.Name
          </span>
        </h2>
        <span class="cowork__address">
          @Model.Address
        </span>

        <div class="gallery">
          @{
            var count = 1;
            foreach (var image in Model.Images)
            {
              <figure class="gallery__item gallery__item--@count">
                <img src="@image.Url" class="gallery__img" alt="@image.Id">
              </figure>
              count++;
            }
          }
        </div>
      </section>

      <section class="book__about">
        <h2 class="section__title">
          О пространстве
        </h2>
        <div class="about__text">
          @Model.Description
        </div>
      </section>

      <section class="book__comfort">
        <h2 class="section__title"> 
          Удобства для Вас
        </h2>
        <div class="comfort__container">
          <ul class="list-reset comfort__list">
            @foreach (var amenity in Model.Amenities)
            {
              <li class="comfort__elem">
                <img src="@amenity.Template?.Picture " alt="Wi-Fi" class="comfort__img">
                <span class="comfort__text">
                  @amenity.Template?.Name
                </span>
              </li>
            }
          </ul>
        </div>
      </section>

      <section class="book__location">
        <div class="location__container">
          <h2 class="section__title">
            Схема Помещения
          </h2>
          <div class="location__wrapper">
            <div id="showDiagram" style="width:550px; height:350px; border-radius: 10px; background: lightgray; border:2px solid black;margin-bottom:2rem "></div>
             <button class="btn btn-reset" id ="book-btn">
              Забронировать место 
              </button>
          </div>
          
        </div>

        <div class="location__container">
          <h2 class="section__title location__title">
            Контакты коворкинга
          </h2>

          <div class="location__wrapper--2">
            <div class="location__text">
              <div>
                <span class="location--beauty">Адрес:</span>@Model.Address 
              </div>
              <div class="location__text--wrap">
                <span class="location--beauty">Соцсети:</span>
                 <a href="#" class="location__link">
                  <img src="~/img/vk.png" alt="Вк" class="location__link--img">
                </a>
              </div>
            </div>
            <h2 class="section__title section__margin">
              Режим работы
            </h2>
            <ul class="list-reset location__list">
              @{
                var dict = new Dictionary<int, string>()
                {
                  {1,"Пн"},
                  {2,"Вт"},
                  {3,"Ср"},
                  {4,"Чт"},
                  {5,"Пт"},
                  {6,"Сб"},
                  {7,"Вс"},
                };
                var t = Model.OperationMode.ToArray();
                Array.Sort(t, (x, y) => x.WeekDayNumber.CompareTo(y.WeekDayNumber));
                foreach (var weekday in t)

                {
                  <li class="location__elem">
                    <span class="location__day">@dict[weekday.WeekDayNumber]</span>
                    <span class="location__time">@weekday.TimeStart - @weekday.TimeEnd</span>
                  </li>
                }
              }
            </ul>
          </div>
        </div>
      </section>

      <section class="reviews">
        <div class="reviews__head">
                  <h2 class="section__title mb0">
                  <span class="red scobka">[ </span>Отзывы о пространстве <span class="red">@Model.Name</span><span class="red scobka"> ]</span>
                  </h2>
                  <button class="btn-reset btn review__btn" id="reviewButton" href="#"> 
                    Написать отзыв
                  </button>
          </div>
          @foreach (var review in Model.Reviews)
          {
            <div class="review__wrapper">
            <div class="review__head">
              <span class="review__author">
                @review.UserName
              </span>
              <span class="review__date">
                @review.Date 
              </span>
              <ul class="list-reset review__stars">
              @for (var i = 0; i < review.Estimation; i++ )
              {
                  <li class="review__elem"><img src="~/img/blue-star.png" alt="Звезда"></li>
              }
              </ul>
            </div>
            <span class="review__text">
              @review.Message
            </span></div>
          }
      </section>
      <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="border-radius: 10px;">
          <div class="modal-content">
            <div style="margin:1.5rem auto 1.5rem;">
              <h4 style="position: relative ;color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px; text-align: center" id="bookModalLabel">Дата и длительность посещения</h4>
            </div>
                <div class="modal-body modal-first-page" style="margin: auto">
              <div class="modal__params" style="display: flex; flex-direction: row; align-items: center;">
               
                <input class="form-control-sm" type="date" style="margin-right: 10px" id="date" name="date" value="2024-05-18"/>
                <select class="form-select form-select-sm" name="timeType"  style="margin-right: 10px" id="timeType">
                  <option value="lel" selected="">1 час</option>
                  <option value="lol">2 часа</option>
                  <option value="lil">45 минут</option>
                </select>
                <select class="form-select form-select-sm" name="objectType" id="objectType" value="lel" style="margin-right: 10px">
                  <option value="0" selected>Все типы</option>
                  @foreach (var obj in Model.Objects.DistinctBy(x => x.Template.Category))

                  {
                    <option value="@obj.IdTemplate">@obj.Template.Category</option>
                  }
                </select>
                <input id="idWorkspace" name="idWorkspace" value="@Model.Id" hidden/>
              </div>
              <div class="modal__time">
                <ul class="list-reset time__list">
                </ul>
              </div>
              <span class="selected-time">
                Выбрано:
                <span style="color: black; font-size: 18px; font-weight: 500" id="selected-date__value"></span>
                <span style="color: black; font-size: 18px; font-weight: 500" class="selected-time__value" id="selected-time__value"></span>
              </span>
              <div class="modal__navigator">
                <button class="btn-reset btn btn__next" id="btn-next">
                  Продолжить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="selectWorkplaceModal" tabindex="-1" aria-labelledby="selectWorkplaceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered book__width" style="border-radius: 10px;">
        <div class="modal-content">
          <div style="margin:2rem auto 2rem;">
            <h4 style="position: relative ; color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px; text-align: center" id="selectWorkplaceModalLabel">Бронирование места</h4>
          </div>
          <div class="modal-body modal-second-page" style="margin: auto">
            <div id="myDiagramDiv" style="width:100%; height:350px; border-radius: 10px; background: lightgray; border:2px solid black;margin-bottom:2rem "></div>
            <input value="" hidden="" id="selected-object"/>
            <div class="modal__navigator">
              <button id = "btn-back" class="btn-reset btn btn__back">
                Вернуться
              </button>
              <button class="btn-reset btn btn__next" id="reservation-button" >
                Продолжить
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>

<div class="modal fade" id="bookResultModal" tabindex="-1" aria-labelledby="bookResultModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered book__width" style="border-radius: 10px;">
    <div class="modal-content">
      <div style="margin:2rem auto 2rem;">
        <h4 style="position: relative ; color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px; text-align: center" id="bookTitle"></h4>
      </div>
      <div class="modal-body" id="bookBody">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addReviewModal" tabindex="-1" aria-labelledby="addReviewModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" style="border-radius: 10px;">
  <form method="post" action="/workspaces/@Model.Id/add-review">
    <div  class="modal-content review-modal" >
    <div class="modal-header" style="border: none">
      <h5 class="review__title modal-title"> Как Вам данное пространство?</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="review__header">
      <img src="@Model.Images.FirstOrDefault()?.Url" alt="review-img" class="review__img " style="border-radius: 5px">
      <div class="review__name">
        @Model.Name
      </div>
    </div>

    <div class="review__stars-wrapper">
      <ul class="list-reset review__stars-modal" id="formStars">
        <li class="review__elem"><img id="star-0" src="~/img/grey-star.png" alt="Звезда"></li>
        <li class="review__elem"><img id="star-1" src="~/img/grey-star.png" alt="Звезда"></li>
        <li class="review__elem"><img id="star-2" src="~/img/grey-star.png" alt="Звезда"></li>
        <li class="review__elem"><img id="star-3" src="~/img/grey-star.png" alt="Звезда"></li>
        <li class="review__elem"><img id="star-4" src="~/img/grey-star.png" alt="Звезда"></li>
      </ul>
      <input hidden="true" id="starsCount" name="starsCount" value="0">
      <input hidden="true" type="date" value="" id="dateInput" name="date">
    </div>
    <div class="review__text-wrapper">
      <textarea  class="review-text" name="text" id="review" placeholder="Ваш отзыв..." required></textarea>
    </div>
    <button type="submit" class="btn-reset btn review-modal__btn">
      Оставить отзыв
    </button>
    </div>
  </form>
  </div>
</div>
</main>
<script>
var prevNode = null;
var prevColor = null;
function click(e, node) {
                    var shape = node.findObject("SHAPE");
                    if (shape == null || node.data.isReserve){
                        return;
                    }

                    if(prevNode){
                        prevNode.findObject("SHAPE").bn = prevColor;
                        myDiagram.model.setDataProperty(prevNode.data, "source", prevColor);
                    }

                    prevColor = shape.bn;
                    prevNode= node;

                    shape.bn = '';
                    document.getElementById("selected-object").value = node.data.key;
                }
window.addEventListener('DOMContentLoaded',() => init("myDiagramDiv", click));
window.addEventListener('DOMContentLoaded',() =>{ 
  init("showDiagram");
  loadObjects("showDiagram", @Json.Serialize(Model.Objects));
});
</script>      
<script src="~/js/book-modals-scripts.js" type="module"></script>
<script src="~/js/time-modal-script.js" type="module"></script>
<script src="~/js/objects-modal-scripts.js" type="module"></script>
<script src="~/js/add-review-script.js" type="module"></script>
      
